@model int

@{
    ViewData["Title"] = "General Quarters Home";
    string username = Context.Session.GetString("UserName");
    string userId = Context.Session.GetInt32("UserId").ToString();
}

<div class="col-12 bg-light border rounded shadow p-0 mr-3">
    <h3 class="text-center my-2">Game Chat</h3>
    <div class="col-12"><hr /></div>
    <div class="col-12">
        <div id="messageBox" class="col-12 form-control border overflow-auto mb-3" style="height: 200px;">
            <h6 id="messagesList"></h6>
        </div>
        <div class="col-12"><hr /></div>
        <input type="hidden" id="join-group" class="btn btn-link" value="Join Group" />
        <input type="hidden" id="leave-group" class="btn btn-link" value="Leave Group" />
        <textarea placeholder="Enter a message..." id="group-message-text" class="form-control mb-3"></textarea>
        <input type="hidden" value="Game @Model" name="group-name" id="group-name">
        <input disabled type="hidden" value="Game @Model" name="group-name" id="auto-join">
        <input disabled id="userInput" class="no-outline no-no-outline bg-white d-none" value="@username"/>
        <input disabled id="userIdentification" class="no-outline no-no-outline bg-white d-none" value="@userId"/>
        <input type="button" id="groupmsg" class="btn-primary mb-3 form-control" value="Send to Group" />
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
</script>
                @* <select class="form-control" name="group-name" id="group-name">
                    <option value="Game @Model">Game @Model</option>
                    <option value="Global">Global</option>
                </select> *@